name: RSS
on:
  schedule:
    - cron: "0 17 * * *" # 1 pm EST
  push:
    branches:
      - main

jobs:
  generate_rss:
    runs-on: macOS-latest
    name: Generate RSS
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: RSS
        uses: ./
        with:
          yourInstagram: katydecorah
          listOfInstagrams: nytcooking,sohlae,swissmiss,soulfirefarm
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A && git commit -m "Updated instagram.json"
          git push "https://${GITHUB_ACTOR}:${{secrets.GITHUB_TOKEN}}@github.com/${GITHUB_REPOSITORY}.git" HEAD:${GITHUB_REF}
